<div class="content-wrapper">
    <!--<div class="content-heading">
        Overlay Network
    </div>-->

    <div class="row">
        <div class="col-lg-12 pd5">
            <div class="panel panel-custom">
                <div class="panel-heading in">
                    Overlay Management
                </div>
                <div class="panel-body" style="min-height: 476px;">
                    <div class="row" style="margin-bottom: 10px;">
                        <!--<small style="margin-left: 20px;background-color: #1b72e2;color: white">-->
                        <small style="margin-left: 20px;">
                            <div style="display: inline">
                                Last Updated At :
                            </div>
                            <div style="display: inline" id="lastUpdateTime">
                            </div>
                        </small>
                        <a id="refreshButton" data-tool="panel-refresh" data-toggle="tooltip" title="Refresh Table" class="pull-right" style="cursor: pointer; margin-right: 20px;">
                            <em class="fa fa-refresh"> Refresh</em>
                        </a>
                        <div id="refreshMessage" class="pull-right" style="margin-right: 15px; color: white; background-color: #F05050; display: none;">Changed OverlayNetwork Data</div>
                    </div>
                    <table id="overlayDataTable" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th style='text-align: center;'>TITLE</th>
                            <th style='text-align: center;min-width: 200px;'>CHANNEL ID</th>
                            <th style='text-align: center;min-width: 200px;'>OVERLAY NETWORK ID</th>
                            <th style='text-align: center;'>OWNER ID</th>
                            <th style='text-align: center;min-width: 110px;'>CREATED</th>
                            <th style='text-align: center;'>ACTION</th>
                            <th style='text-align: center;min-width: 110px;'>VIRTUAL PEER</th>
                        </tr>
                        </thead>
                        <tbody id="overlayGrid">
                        </tbody>
                    </table>
                    <div style="float: right;display: none;">
                        <button type="button" class="btn btn-custom" id="overlayRemoveAllButton">Remove ALL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 pd5">
            <div class="panel panel-custom">
                <div class="panel-heading in">
                    Overlay Information
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-top: 1px;margin-bottom: 15px;">
                        <!--<div class="col-md-2" style="font-weight: bold; text-align: right;">Select JSON Format</div>
                        <div class="col-md-3">
                            <select id="overlayJsonFormatSelect" class="form-control" style="margin-top: -5px;">
                                <option selected disabled value="NONE">Select Format</option>
                                <option value="CreateOverlay">OVERLAY 생성</option>
                                <option value="ModifyOverlay">OVERLAY 변경</option>
                                <option disabled>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>
                                <option disabled id="overlayJsonFormatSelectedOption" value="SelectedModifyOverlay">선택 OVERLAY 변경</option>
                                <option value="CustomOverlay">직접 입력</option>
                            </select>
                        </div>-->
                        <div class="col-md-5">
                            <div style="margin-top: -5px;">
                                <button type="button" class="btn btn-custom" id="createOverlayButton" data-toggle="popover" data-placement="right" title="Create Overlay" data-html="true">Create Overlay</button>
                                <button type="button" class="btn btn-custom" id="modifyOverlayButton" style="margin-left: 7px;" data-toggle="popover" data-placement="right" title="Modify Overlay" data-html="true" disabled>Modify Overlay</button>
                               <!-- <button type="button" class="btn btn-custom" id="csManagerButton" style="margin-left: 7px;" data-toggle="popover" data-placement="right" title="CS Manager" data-html="true" disabled>CS Manager</button>-->
                            </div>
                        </div>
                        <div class="col-md-1" style="font-weight: bold; text-align: right;">URL</div>
                        <div class="col-md-4">
                            <input id="overlayUrlText" type="text" class="form-control col-md-2" style="margin-top: -5px;" readonly>
                        </div>
                    </div>

                   <!-- <div id="csManagerFormHtml" style="display: none">
                        <div style='margin-bottom:5px;'></div>
                        <div id="csEnableMessageBox" style="display: block">
                            <div style="margin-bottom: 5px">
                                CS Resource ID :
                                <div id="csResourceId" style="display: inline;margin-left: 5px;">
                                </div>
                            </div>
                            <div style="margin-bottom: 5px">
                                Virtual Peer ID :
                                <div id="csVirtualPeerId" style="display: inline;margin-left: 5px;">
                                </div>
                            </div>
                        </div>
                        <div id="csDisableMessageBox" style="display: none;">
                            <div>
                                <label style='width:150px'>Action Type</label>
                                <select id='csActionType' style='width:250px;'>
                                    <option value="peer" selected>Peer</option>
                                    <option value="upload" >Upload</option>
                                    <option value="download" >Download</option>
                                    <option value="relay" >Relay</option>
                                </select>
                            </div>
                            <div>
                                <label style='width:150px'>Notification Address</label>
                                <input id='csNotificationAddress' type='text' style='width:250px;'>
                            </div>
                            <div>
                                <label style='width:150px'>Storage Size</label>
                                <input id='csStorageSize' type='number' style='width:250px;' value="0">
                            </div>
                            <div>
                                <label style='width:150px'>Max Up Bw</label>
                                <input id='csMaxUpBw' type='number' style='width:250px;' value="0">
                            </div>
                            <div>
                                <label style='width:150px'>Max Dn Bw</label>
                                <input id='csMaxDnBw' type='number' style='width:250px;' value="0">
                            </div>
                            <div>
                                <label style='width:150px'>Max Num Connection</label>
                                <input id='csMaxNumConnection' type='number' style='width:250px;'  value="0">
                            </div>
                            <div>
                                <label style='width:150px'>Timeout</label>
                                <input id='csTimeout' type='number' style='width:250px;' value="0">
                            </div>
                            <div>
                                <label style='width:150px'>Max Traffic</label>
                                <input id='csMaxTraffic' type='number' style='width:250px;' value="0">
                            </div>
                            <div>
                                <label style='width:150px'>Num Of Seeder</label>
                                <input id='csNumOfSeeder' type='number' style='width:250px;' value="0">
                            </div>
                            <div>
                                <label style='width:150px'>Completed</label>
                                <select id='csCompleted' style='width:250px;'>
                                    <option value="true">True</option>
                                    <option value="false" selected>False</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <button id='csEnableButton' style='margin:10px 8px 5px 0px;width:130px;float: right;' class='btn btn-custom btn-sm' onclick='Javascript:uPREP.getOverlay().enableButtonClick()' disabled>Enable</button>
                            <button id='csDisableButton' style='margin:10px 8px 5px 0px;width:130px;float: right;' class='btn btn-custom btn-sm' onclick='Javascript:uPREP.getOverlay().disableButtonClick()' disabled>Disable</button>
                            <button id='csFormCloseButton' style='margin:10px 8px 5px 0px;width:88px;float: right;' class='btn btn-sm' onclick='Javascript:uPREP.getOverlay().closePopupWindow()'>Close</button>
                        </div>
                    </div>-->

                    <div id="overlayInfoContentFormHtml" style="display: none">
                        <div style='margin-bottom:5px;'></div>
                        <div class="content-type-m">
                            <label style='width:150px'>Version</label>
                            <input id='overlayInfoVersion' type='number' style='width:250px;' readonly>
                        </div>
                        <div class="content-type-m">
                            <label style='width:150px'>Index URL</label>
                            <input id='overlayInfoIndexUrl' type='text' style='width:250px;'>
                        </div>
                        <div>
                            <label style='width:150px'>Owner ID</label>
                            <input id='overlayInfoOwnerId' type='text' style='width:250px;'>
                        </div>
                        <div>
                            <label style='width:150px'>Expires</label>
                            <input id='overlayInfoExpires' type='number' style='width:250px;'>
                        </div>
                        <div  class="content-type-c">
                            <label style='width:150px'>PAM Enabled</label>
                            <select id='overlayInfoPamEnabled' style='width:250px;'>
                                <option value="true">True</option>
                                <option value="false" selected>False</option>
                            </select>
                        </div>
                        <div>
                            <label style='width:150px'>Closed</label>
                            <select id='overlayInfoClosed' style='width:250px;'>
                                <option value="yes">Yes</option>
                                <option value="no" selected>No</option>
                                <option value="auth">Auth</option>
                            </select>
                        </div>
                        <div>
                            <label style='width:150px'>Auth-Key</label>
                            <input id='overlayInfoAuthKey' type='text' style='width:250px;'>
                        </div>
                        <div>
                            <label style='width:150px'>Users</label>
                            <input id='overlayInfoUsers' type='text' style='width:250px;'>
                        </div>

                        <div>
                            <button id='jsonConvertButton' style='margin:10px 8px 5px 0px;width:130px;float: right;' class='btn btn-custom btn-sm' onclick='Javascript:uPREP.getOverlay().convertJsonString()'>Convert To Json</button>
                            <button id='formCloseButton' style='margin:10px 8px 5px 0px;width:88px;float: right;' class='btn btn-sm' onclick='Javascript:uPREP.getOverlay().closePopupWindow()'>Close</button>
                        </div>
                    </div>

                    <!--<div class="row" style="margin-bottom: 15px;">
                        <div class="col-md-7" id="overlayMethodContainer" style="display: none;">
                            <span style="margin-right: 10px;font-weight: bold;margin-left: 35px;">Method Type</span>
                            <label class="radio-inline c-radio">
                                <input type="radio" id="overlayGetRadio" name="overlayMethod" value="GET" checked>
                                <span class="fa fa-circle"></span>GET&lt;!&ndash;GAUS&ndash;&gt;
                            </label>
                            <label class="radio-inline c-radio">
                                <input type="radio" id="overlayPostRadio" name="overlayMethod" value="POST">
                                <span class="fa fa-circle"></span>POST&lt;!&ndash;GAUS&ndash;&gt;
                            </label>

                            <label class="radio-inline c-radio">
                                <input type="radio" id="overlayPutRadio" name="overlayMethod" value="PUT">
                                <span class="fa fa-circle"></span>PUT&lt;!&ndash;GAUS&ndash;&gt;
                            </label>

                            <label class="radio-inline c-radio">
                                <input type="radio" id="overlayDeleteRadio" name="overlayMethod" value="DELETE">
                                <span class="fa fa-circle"></span>DELETE&lt;!&ndash;GAUS&ndash;&gt;
                            </label>
                        </div>
                    </div>-->

                    <div class="row" style="margin-top: 15px; ">
                        <div class="col-md-7">
                                         <textarea class="form-control" id="overlayRequestTextArea" style="height: 300px;">
                                         </textarea>
                        </div>
                        <div class="col-md-5">
                                         <textarea class="form-control" id="overlayResponseTextArea" style="height: 300px;" readonly>
                                         </textarea>
                        </div>
                    </div>



                    <div style="float: right; margin-top: 10px;">
                        <button type="button" class="btn btn-custom" id="overlayActionApplyButton" disabled>Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>