<div class="content-wrapper">
    <!--<div class="content-heading">
        Resource Pool
    </div>-->

    <div class="row">
        <div class="col-lg-12 pd5">
            <div class="panel panel-custom">
                <div class="panel-heading in">
                    Resource Management
                </div>
                <div class="panel-body" style="min-height: 476px;">
                    <div class="row" style="margin-bottom: 10px;">
                        <!--<small style="margin-left: 20px;background-color: #1b72e2;color: white">-->
                        <small style="margin-left: 20px;">
                            <div style="display: inline">
                                Last Updated At :
                            </div>
                            <div style="display: inline" id="lastUpdateTime1">
                            </div>
                        </small>
                        <a id="refreshButton1" data-tool="panel-refresh" data-toggle="tooltip" title="Refresh Table" class="pull-right" style="cursor: pointer; margin-right: 20px;">
                            <em class="fa fa-refresh"> Refresh</em>
                        </a>
                        <div id="refreshMessage1" class="pull-right" style="margin-right: 15px; color: white; background-color: #F05050; display: none;">Changed Resource Pool Data</div>
                    </div>
                    <table id="resourceDataTable" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <!--<th style='text-align: center;'>TYPE</th>-->
                            <th style='text-align: center;'>RESOURCE ID</th>
                            <th style='text-align: center;'>CS URL</th>
                            <!--<th style='text-align: center;'>EXPIRES</th>-->
                            <th style='text-align: center;'>MAX UP BW</th>
                            <th style='text-align: center;'>MAX DN BW</th>
                            <!--<th style='text-align: center;'>MAX CONNECTION</th>-->
                            <th style='text-align: center;'>MAX OVERLAY</th>
                            <th style='text-align: center;'>CREATED AT</th>
                            <th style='text-align: center;'>ACTION</th>
                        </tr>
                        </thead>
                        <tbody id="resourceGrid">
                        </tbody>
                    </table>
                    <!--<div style="float: right">-->
                        <!--<button type="button" class="btn btn-custom" id="cacheRemoveAllButton">Remove ALL</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 pd5">
            <div class="panel panel-custom">
                <div class="panel-heading in">
                    Resource Allocation
                </div>
                <div class="panel-body" style="min-height: 476px;">
                    <div class="row" style="margin-bottom: 10px;">
                        <!--<small style="margin-left: 20px;background-color: #1b72e2;color: white">-->
                        <small style="margin-left: 20px;">
                            <div style="display: inline">
                                Last Updated At :
                            </div>
                            <div style="display: inline" id="lastUpdateTime2">
                            </div>
                        </small>
                        <a id="refreshButton2" data-tool="panel-refresh" data-toggle="tooltip" title="Refresh Table" class="pull-right" style="cursor: pointer; margin-right: 20px;">
                            <em class="fa fa-refresh"> Refresh</em>
                        </a>
                        <div id="refreshMessage2" class="pull-right" style="margin-right: 15px; color: white; background-color: #F05050; display: none;">Changed Resource Allocation Data</div>
                    </div>
                    <table id="resourceAllocationDataTable" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th style='text-align: center;'>RESOURCE ID</th>
                            <th style='text-align: center;'>RQ PEER ID</th>
                            <th style='text-align: center;'>VR PEER ID</th>
                            <th style='text-align: center;'>IP</th>
                            <th style='text-align: center;'>PORT</th>
                            <th style='text-align: center;'>UpBw</th>
                            <th style='text-align: center;'>DnBw</th>
                            <th style='text-align: center;'>CREATED AT</th>
                            <th style='text-align: center;'>ACTION</th>
                        </tr>
                        </thead>
                        <tbody id="resourceAllocationGrid">
                        </tbody>
                    </table>
                    <!--<div style="float: right">-->
                    <!--<button type="button" class="btn btn-custom" id="cacheRemoveAllButton">Remove ALL</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>