.panel-custom {
    border-color: #cfdbe2;
}
.panel-custom > .panel-heading {
    color: #ffffff;
    background-color: #37bc9b;
    border-color: #cfdbe2;
}
.panel-custom > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #cfdbe2;
}
.panel-custom > .panel-heading .badge {
    color: #37bc9b;
    background-color: #ffffff;
}
.panel-custom > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #cfdbe2;
}
.pd5 {padding-left:5px;padding-right:5px;}
.custom-control35 {height:35px;padding:6px 16px;font-size:14px;}
.custom-control0 {padding:6px 16px;font-size:14px;}
.custom-head-color{background-color:#158C6E !important;}

.btn-custom {
    color: #ffffff;
    background-color: #27c24c;
    border-color: #26be4a;
    opacity: 1;
    font-weight:bold;
}
.btn-custom:focus,
.btn-custom.focus {
    color: #ffffff;
    background-color: #24b145;
    border-color: #1f9c3d;
}
.btn-custom:hover {
    color: #ffffff;
    background-color: #24b145;
    border-color: #1f9c3d;
}
.btn-custom:active,
.btn-custom.active,
.open > .dropdown-toggle.btn-custom {
    color: #ffffff;
    background-color: #24b145;
    border-color: #1f9c3d;
}
.btn-custom:active:hover,
.btn-custom.active:hover,
.open > .dropdown-toggle.btn-custom:hover,
.btn-custom:active:focus,
.btn-custom.active:focus,
.open > .dropdown-toggle.btn-custom:focus,
.btn-custom:active.focus,
.btn-custom.active.focus,
.open > .dropdown-toggle.btn-custom.focus {
    color: #ffffff;
    background-color: #24b145;
    border-color: #1f9c3d;
}
.btn-custom:active,
.btn-custom.active,
.open > .dropdown-toggle.btn-custom {
    background-image: none;
}
.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled.focus,
.btn-custom[disabled].focus,
fieldset[disabled] .btn-custom.focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
    background-color: #27c24c;
    border-color: #26be4a;
}
.btn-custom .badge {
    color: #27c24c;
    background-color: #ffffff;
}

.box-placeholder-t1 {
    margin-bottom: 5px;
    padding: 5px;
    background: #EAEAEA;
    color: #444444;
    font-weight:bold ;
    padding-left: 15px;
    font-size: 12px;
}

.box-placeholder-t2 {
    margin-bottom: 5px;
    padding: 5px;
    background: #EAEAEA;
    color: #444444;
    font-weight:bold ;
    padding-left: 15px;
    font-size: 12px;
    margin-left: -25px;
}

.box-placeholder-c1 {
    margin-bottom: 5px;
    padding: 5px;
    background: #fafafa;
    color: #444444;
    margin-left: -25px;
    padding-left: 5px;
    font-size: 12px;
    text-align: center;
}

.box-placeholder-textarea {
    margin-bottom: 5px;
    padding: 5px;
    background: #fafafa;
    color: #444444;
    margin-left: -25px;
    padding-left: 5px;
    font-size: 12px;
}
.selectRow {"background-color":"#BDF3F3"}

.dataTableCell{
    vertical-align: middle;
    text-align: center;
    font-size:12px;
}

.dataTableCell_R{
    vertical-align: middle;
    text-align: center;
    font-size:12px;
    color:red;
}

.dataTableCell_B{
    vertical-align: middle;
    text-align: center;
    font-size:12px;
    color: blue;
}

.button_cs{
    width: 27px;
    margin-top: -3px;
    color: #ffffff;
}

.button_cs_left{
    background-color: #f05050;;
    border-radius: 7px 0 0 7px;
}

.button_cs_right{
    background-color: #5d9cec;
    border-radius: 0 7px 7px 0;
}

.input_cs{
    text-align: right;
    width: 38px;
    height: 31px;
}

.btn-oval,.btn-pill-left{border-top-left-radius:50px;border-bottom-left-radius:50px;padding-left:18px}
.btn-oval,.btn-pill-right{border-top-right-radius:50px;border-bottom-right-radius:50px;padding-right:18px}

.c-checkbox,
.c-radio {
    margin-right: 4px;
}
.c-checkbox *,
.c-radio * {
    cursor: pointer;
}
.c-checkbox input,
.c-radio input {
    opacity: 0;
    position: absolute;
    margin-left: 0 !important;
}
.c-checkbox span,
.c-radio span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: -20px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-right: 5px;
    text-align: center;
}
.c-checkbox span:before,
.c-radio span:before {
    margin-left: 1px;
}
.c-checkbox:hover span,
.c-radio:hover span {
    border-color: #5d9cec;
}
.form-inline .c-checkbox span,
.form-inline .c-radio span {
    margin-left: 0;
}
.c-checkbox.c-checkbox-rounded span,
.c-radio.c-checkbox-rounded span,
.c-checkbox.c-radio-rounded span,
.c-radio.c-radio-rounded span {
    border-radius: 500px;
}
/* override for radio */
.c-radio span {
    border-radius: 500px;
}
/* the icon */
.c-checkbox span:before,
.c-radio span:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    text-align: center !important;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
}
/* Checked state */
.c-checkbox,
.c-radio {
    /* override for radio */
    /* Disable state */
    /* override for radio */
}
.c-checkbox input[type=checkbox]:checked + span:before,
.c-radio input[type=checkbox]:checked + span:before,
.c-checkbox input[type=radio]:checked + span:before,
.c-radio input[type=radio]:checked + span:before {
    color: #fff;
    opacity: 1;
    transition: color 0.3s ease-out;
}
.c-checkbox input[type=checkbox]:checked + span,
.c-radio input[type=checkbox]:checked + span,
.c-checkbox input[type=radio]:checked + span,
.c-radio input[type=radio]:checked + span {
    border-color: #5d9cec;
    background-color: #5d9cec;
}
.c-checkbox input[type=radio]:checked + span,
.c-radio input[type=radio]:checked + span {
    background-color: #fff;
}
.c-checkbox input[type=radio]:checked + span:before,
.c-radio input[type=radio]:checked + span:before {
    color: #5d9cec;
}
.c-checkbox input[type=checkbox]:disabled + span,
.c-radio input[type=checkbox]:disabled + span,
.c-checkbox input[type=radio]:disabled + span,
.c-radio input[type=radio]:disabled + span {
    border-color: #dddddd !important;
    background-color: #dddddd !important;
}
.c-checkbox input[type=radio]:disabled + span,
.c-radio input[type=radio]:disabled + span {
    background-color: #fff !important;
}
.c-checkbox input[type=radio]:disabled + span:before,
.c-radio input[type=radio]:disabled + span:before {
    color: #dddddd;
}
.c-radio.c-radio-nofont {
    /* override for radio */
    /* Disable state */
    /* override for radio */
}
.c-radio.c-radio-nofont span:before {
    content: "";
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
    border-radius: 500px;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span:before {
    color: #fff;
    opacity: 1;
    transition: color 0.3s ease-out;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span {
    border-color: #5d9cec;
    background-color: #5d9cec;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span {
    background-color: #fff;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span:before {
    background-color: #5d9cec;
}
.c-radio.c-radio-nofont input[type=radio]:disabled + span {
    border-color: #dddddd !important;
    background-color: #dddddd !important;
}
.c-radio.c-radio-nofont input[type=radio]:disabled + span {
    background-color: #fff !important;
}
.c-radio.c-radio-nofont input[type=radio]:disabled + span:before {
    background-color: #dddddd;
}
.content-type-c {
}
.content-type-m {
}
.m-r-3 {
    margin-right: 3px;
}